<html>

    <head>
        <title></title>
{% block stylesheets %}
    <link href="{{ asset('css/chosen.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/mmi-graphs.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/bootstrap-theme.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/daterangepicker.css') }}" rel="stylesheet" />
{% endblock %}
    </head>
    <body class="back-body">
    <div>
        <div class="left-part-template1">
            <div class="portlet blue-hoki box view-selector-box">
                <div class="portlet-title">
                    INFORMES
                </div>
                <div class="portlet-body">
                    <ul style="padding-left: 0px;" id="viewList" class="view-selector"></ul>
                </div>
            </div>

        </div>
        <div class="left-part-template1">
            <h3>
                Crear informe
            </h3>
            <div style="height: 30%" class="template1-block">

                <button class="btn navbar-btn green-haze" onclick="goToCreate();">CREAR</button>
            </div>
            <div>
                <h3>Abrir informe</h3>
                <div class="template1-block">
                    <div>RANGO DE FECHAS:</div>
                    <div class="daterange-div" onclick="jQuery('#daterange').click();">
                        <span class="glyphicon glyphicon-calendar"></span>
                        <input type="text" name="daterange" id="daterange" value=""/>
                    </div>
                </div>
                <div class="template1-block" id="categorySelectorBlock">
                    <div>
                        CATEGORIA:
                    </div>
                    <select class="btn btn-fit-height btn-sm green-haze category-selector" id="categorySelect"></select>
                </div>
                <div class="template1-block">
                    <button class="btn navbar-btn green-haze" onclick="goToGraph();">ABRIR INFORME</button>
                </div>
            </div>
        </div>

    </div>
        <script type="text/javascript" src="https://www.google.com/jsapi"></script>
        <script type="text/javascript">
{% autoescape 'html' %}
var userId = {{ idusuario }};
var zonaId = {{ idzona }};
var nombre_categorias = [{{ nombre_categorias|raw }}];
var id_categorias = [{{ id_categorias|raw }}];
var informes = [{{ views|raw }}];
var id_informe = {{ idvista|raw }};
{% endautoescape %}
        </script>
{% block javascripts %}
    <script src="{{ asset('js/jquery-1.11.3.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/moment.min.js') }}"></script>
    <script src="{{ asset('js/daterangepicker.js') }}"></script>
    <script src="{{ asset('js/chosen.jquery.js') }}"></script>
    <script src="{{ asset('js/mmi-select.js') }}"></script>
{% endblock %}
    </body>
</html>


